@media only screen and (min-width: 640px) {
    nav {
        flex-direction: row-reverse;

    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        margin: auto;
    }

    main h1 {
        grid-column: 1 / span 2;
    }

    main #learning {
        grid-row: 2 / span 2;
    }
    
}